* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

body {
  text-align: center;
  background-color: #011F3F;
}

#first-section {
    width: 60%;
    padding: 20px;
    margin: auto;
    color: white;
}

p {
    margin: 20px 0;
    text-align: justify;
    font-size: 20px;
    line-height: 25px;
}

ol {
    text-align: left;
}

li {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 25px;
}

.link {
    margin-top: 40px;
}

a {
    background-color: green;
    padding: 10px 40px;
    color: white;
    text-decoration: none;
    border-radius: 20px;
}

@media screen and (max-width: 756px) {
    #first-section {
        width: 100%;
        padding: 40px;
    }

}
